{{#section 'css'}}
<title>Dashboard</title>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
{{/section}}

{{#section 'js'}}
<script>
	const title1 = 'dashboard';const title2 = 'Dashboard';const title3 = 'dashboard';
	const id1 = document.getElementById('title1');const id2 = document.getElementById('title2');const id3 = document.getElementById('title3');
	id1.innerHTML=title1;id2.innerHTML=title2;id3.innerHTML=title3;
</script>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            var table = $('#example').DataTable();
            $('#example tbody').on('click', 'tr', function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                }
                else {
                    table.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }
            });
        });
    </script>

<script>
  $(function(){
    $("table tbody tr").dblclick(function(){
	  window.open("/editor/viewpost");
    });
  });
</script>
{{/section}}

<main>
                {{!-- ///////////////////////////////////////////////////////////////////// --}}
                <table id="example" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Topic</th>
                        <th>Date</th>
                        <th>Sumary</th>
                        <th>Writer</th>
						<th>Status</th>
                    </tr>
                </thead>
                <tbody>
                        {{#each this.db}}
                        <tr>
                            <td>{{titlePost}}</td>
                            <td>{{topicID}}</td>
                            <td>{{dateUpload}}</td>
                            <td>{{summary}}</td>
							<td></td>
                            <td>chưa duyệt</td>
                        </tr>
                        {{/each}}
                </tbody>
                </table>
                {{!-- ///////////////////////////////////////////////////////////////////// --}}
</main>