{{#section 'css'}}
<title>Quản lý chuyên mục</title>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
{{/section}}

{{#section 'js'}}
{{!-- Taginput --}}
{{!--
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css"> --}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.min.js"></script>
{{!-- Taginput --}}
<script type="text/javascript" src="/assets/admin/tinymce/js/jquery.min.js"></script>
<script type="text/javascript" src="/assets/admin/tinymce/plugin/tinymce/tinymce.min.js"></script>
<script type="text/javascript" src="/assets/admin/tinymce/plugin/tinymce/init-tinymce-none-edit.js"></script>
<script type="text/javascript" src="/assets/admin/tinymce/js/getdata.js"></script>
<script>
  const title1 = 'Quản lý chuyên mục cấp 2'; const title2 = 'Quản lý chuyên mục cấp 2'; const title3 = 'Edit category 2';
  const id1 = document.getElementById('title1'); const id2 = document.getElementById('title2'); const id3 = document.getElementById('title3');
  id1.innerHTML = title1; id2.innerHTML = title2; id3.innerHTML = title3;
</script>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script>
  $("#keyCat1").prop("disabled", true); //Disable
  $("#nameCat1").prop("disabled", true); //Disable
  $("#adminCat1").prop("disabled", true); //Disable
  adminCat1
</script>
<script>
    $("#li_1").addClass('active');
</script>
{{/section}}
<main>
  <form class="form-horizontal" action="" method="POST">
    <div class="form-group">
      <div class="form-group" style="text-align: center;">
        <label class="col-sm-2 control-label">Khóa chuyên mục cấp 1</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" id="keyCat1" value="{{keyCat1}}" name="keyCat1">
        </div>
        <label class="col-sm-2 control-label">Tên chuyên mục cấp 1</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" id="nameCat1" value="{{nameCat1}}" name="nameCat1">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Khóa chuyên mục cấp 2</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" id="keyCat1" value="{{keyCat2}}" name="keyCat2">
        </div>
        <label class="col-sm-2 control-label">Tên chuyên mục cấp 2</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" id="nameCat1" value="{{nameCat2}}" name="nameCat2">
        </div>
      </div>
    </div>
    <div class="form-group" style="text-align: center;">
      <button type="submit" class="btn btn-success">Lưu</button>
    </div>
  </form>
</main>