{{#section 'css'}}
<title>Quản lý người dùng</title>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>


<link rel="stylesheet" type="text/css" href="css/bootstrap-datetimepicker.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap-datetimepicker-standalone.css">
<script type="text/javascript" src="js/bootstrap-datetimepicker.min.js"></script>
{{/section}}

{{#section 'js'}}
<script>
  const title1 = 'Thêm người dùng'; const title2 = 'Thêm người dùng'; const title3 = 'Add user';
  const id1 = document.getElementById('title1'); const id2 = document.getElementById('title2'); const id3 = document.getElementById('title3');
  id1.innerHTML = title1; id2.innerHTML = title2; id3.innerHTML = title3;
</script>

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script>
  $(document).ready(function () {
    var table = $('#example').DataTable();
    $('#example tbody').on('click', 'tr', function () {
      if ($(this).hasClass('selected')) {
        $(this).removeClass('selected');
      }
      else {
        table.$('tr.selected').removeClass('selected');
        $(this).addClass('selected');
      }
    });
  });
</script>
<script>
  function hideAdmincat(myselect) {
    console.log(myselect.value);
    var tmp = $("#label_hide").val();
    if (myselect.value != 2) {
      $("#label_hide").text("");
      $("#selectadminCat").hide();
    }
    else {
      $("#label_hide").text("Quản lý chuyên mục");
      $("#selectadminCat").show();
    }
  }
</script>
<script>
  console.log("1");
  var tmp = $("#permission_tmp").val();
  console.log("2");
  $("#selectpermission").val(tmp).change();
  //console.log(document.getElementById("selectpermission").value());
  console.log("3");
  $("#selectadminCat").val($("#adminCat").val()).change();
  //console.log($("#selectadminCat").val());
  console.log("4");
</script>
<script>
  function validateEmail(email) {
    const re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    return re.test(email);
  }
  function check_tel() {
    var vnf_regex = /((0)+(([0-9]{9})|([0-9]{10}))\b)/g;
    var mobile = $('#_phoneNumber').val();
    if (mobile !== '') {
      if (vnf_regex.test(mobile) == false) {
        alert('Số điện thoại của bạn không đúng định dạng!');
      } else {
        return false;
      }
    } else {
      alert('Bạn chưa điền số điện thoại!');
    }
    return true;
  }
  function check_submit() {
    var listId = ["_userName", "_password", "_nameOfUser", "_gmail", "_phoneNumber", "_dayOfBirth", "selectpermission"];
    var check_null = false;
    for (let i = 0; i < listId.length; i++) {
      if (document.getElementById(listId[i]).value == "") check_null = true;
    }

    if (!validateEmail(document.getElementById("_gmail").value)) {
      alert("Gmail không hợp lệ!");
    }
    else if (check_tel()) {

    }
    else if (check_null) {
      alert("Dữ liệu nhập vào không được để trống!");
    }

    else {
      $("#formSubmit").submit();
    }


  }
</script>
<script>
  $("#li_4").addClass('active');
</script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
  $(function () {
    $("#_dayOfBirth").datepicker();
  });
</script>
<link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />
<!-- Bootstrap Date-Picker Plugin -->
<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />

{{/section}}

<main>
  
  <input type="text" name="permission_tmp" id="permission_tmp" value="{{this.db.permission}}" style="display: none;">
  <input type="text" name="" id="adminCat" value="{{this.db.adminCat}}" style="display: none;">

  <form class="form-horizontal" style="text-align: center;" action="" method="POST" id="formSubmit">
    <div class="form-group" style="text-align: center;">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/web-app-484e0.appspot.com/o/avatar%2Fdefault.png?alt=media&token=42426b0d-ea36-4dc9-90d3-f21217b05e0e"
        alt="">
    </div>
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">Tên đăng nhập</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="_userName" name="userName" value=""
          placeholder="Nhập tên người dùng">
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">Mật khẩu</label>
      <div class="col-sm-9">
        <input type="password" class="form-control" id="_password" name="password" value="" placeholder="Nhập mật khẩu">
      </div>
    </div>

    <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">Tên hiển thị</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="_nameOfUser" name="nameOfUser" value=""
          placeholder="Nhập tên hiển thị">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Gmail</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="_gmail" name="gmail" value="" placeholder="Nhập địa chỉ Gmail">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Số điện thoại</label>
      <div class="col-sm-9">
        <input type="tel" class="form-control" id="_phoneNumber" name="phoneNumber" value=""
          placeholder="Nhập số điện thoại" pattern="[0-9]{10}">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Ngày sinh</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="_dayOfBirth" name="dayOfBirth" readonly="">
    {{!-- <input class="form-control" id="_dayOfBirth1" name="dayOfBirth1" type="text" readonly="" /> --}}
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Phân hệ</label>
      <div class="col-sm-9">
        {{!-- <input type="password" class="form-control" id="inputPassword3" name="permission"> --}}
        <select class="form-control" aria-label="Default select example" name="permission" id="selectpermission"
          onchange="hideAdmincat(this);">
          <option value="">-- Chọn phân hệ người dùng --</option>
          <option value="0">Người dùng</option>
          <option value="1">Quản lý</option>
          <option value="2">Người kiểm duyệt</option>
          <option value="3">Nhà báo</option>
        </select>

      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label" id="label_hide">Quản lý chuyên mục</label>
      <div class="col-sm-9">
        <select class="form-control" aria-label="Default select example" name="adminCat" id="selectadminCat">
          {{#each lcCategory}}
          <option value="{{keyCat1}}">{{nameCat1}}</option>
          {{/each}}
        </select>
      </div>
    </div>
    <div class="form-group" style="text-align: center;">
      <button type="button" class="btn btn-info" onclick="check_submit();">Tạo</button>
    </div>

  </form>
</main>