{{#section 'css'}}
<title>Edit add</title>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
{{/section}}

{{#section 'js'}}
{{!-- Taginput --}}
{{!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css"> --}}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.min.js"></script>
{{!-- Taginput --}}
 <script type="text/javascript" src="/assets/admin/tinymce/js/jquery.min.js"></script>
  <script type="text/javascript" src="/assets/admin/tinymce/plugin/tinymce/tinymce.min.js"></script>
  <script type="text/javascript" src="/assets/admin/tinymce/plugin/tinymce/init-tinymce-none-edit.js"></script>
  <script type="text/javascript" src="/assets/admin/tinymce/js/getdata.js"></script>
<script>
	const title1 = 'user/tag/edit';const title2 = 'Edit tag';const title3 = 'Edit tag';
	const id1 = document.getElementById('title1');const id2 = document.getElementById('title2');const id3 = document.getElementById('title3');
	id1.innerHTML=title1;id2.innerHTML=title2;id3.innerHTML=title3;
</script>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            var table = $('#example').DataTable();
            $('#example tbody').on('click', 'tr', function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                }
                else {
                    table.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }
            });
        });
    </script>

<script>
    function getcontent(){
    var content = "<%content%>";
    var myContent = tinymce.get("myclass mceEditable").setContent(content);
    }
    
</script>
{{/section}}
<main>
    <form class="form-horizontal" method="POST" action="">
    <div class="form-group" style="text-align: center;">
      <label for="inputEmail3" class="col-sm-2 control-label">Key</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="key" placeholder="Key" value="{{this.db.key}}">
      </div>
    </div>
    <div class="form-group" style="text-align: center;">
      <label for="inputEmail3" class="col-sm-2 control-label">Tag name</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="name" placeholder="Tag name" value="{{this.db.name}}">
      </div>
    </div>
      <div class="form-group" style="text-align: center;">
          {{!-- <a href="./edit" class="btn btn-success">Edit</a>
          <a href="./viewpost" class="btn btn-danger">Return</a> --}}
        <button type="submit" href="" class="btn btn-success">Save</button>
        <button type="reset" class="btn btn-info">Reset</a>
      </div>
      {{!-- <div id="data-container"></div> --}}
    </form>
    
</main>