{{#section 'css'}}

<style>
    input {
        text-transform: none !important
    }

    .txtRequire {
        font-size: 13px;

    }
</style>

{{/section}}

{{#section 'js'}}
<script>
    $(document).ready(function () {

        //-------------password------------------
        $("#oldPassword").blur(function () {
            const password = $('#oldPassword').val();
            const noti = $('#txtRequireOldPassword');
            if (password.length === 0) {
                noti.html("Please fill out your password");
                noti.css('color', 'red');
            }
        })

        $("#oldPassword").keyup(function () {
            const password = $('#oldPassword').val();
            const noti = $('#txtRequireOldPassword');
            if (password.length >= 6) {
                noti.hide()
            }
        })

        $("#newPassword").blur(function () {
            const password = $('#newPassword').val();
            const noti = $('#txtRequireNewPassword');
            if (password.length === 0) {
                noti.html("Please fill out your password");
                noti.css('color', 'red');
            }
        })

        $("#newPassword").keyup(function () {
            const noti = $("#txtRequireNewPassword")
            const pwd = String($("#newPassword").val());
            console.log(pwd)
            var strongRegex = new RegExp("^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!_.@#\$%\^&\*])(?=.{8,})");
            var mediumRegex = new RegExp("^(((?=.*[a-z])(?=.*[A-Z]))|((?=.*[a-z])(?=.*[0-9]))|((?=.*[A-Z])(?=.*[0-9])))(?=.{6,})");
            var enoughRegex = new RegExp("(?=.{6,}).*", "g");
            if (pwd.length == 0) {
                noti.html('Type Password');
                noti.css('color', 'red');
                //console.log("Type Password")
            } else if (false == enoughRegex.test(pwd)) {
                noti.html('More Characters');
                noti.css('color', 'Orangered');
                //console.log("More Characters")
            } else if (strongRegex.test(pwd)) {
                noti.html('Strong!');
                noti.css('color', 'green');
                //console.log("Strong")
            } else if (mediumRegex.test(pwd)) {
                noti.html('Medium');
                noti.css('color', 'lightgreen');
                //console.log("Medium")
            } else {
                noti.html('Weak!');
                noti.css('color', 'LightSalmon');
                //console.log("Weak")
            }

        })


        //-------------confirm password------------------
        $("#confirmPassword").keyup(function () {
            //alert('asdhk')
            const confirmPassword = String($("#confirmPassword").val())
            const password = String($("#newPassword").val())
            console.log(confirmPassword, password)
            const noti = $("#txtRequireConfirmPassword")
            if (confirmPassword.localeCompare(password) === 0) {
                noti.html('Match')
                noti.css('color', 'green');
            }
            else {
                noti.html('Not Match')
                noti.css('color', 'red');
            }
        })

    });

    $('#frmChanngePassword').on('submit', function (e) {

        const password = String($("#oldPassword").val())
        if (password.length < 6) {
            //alert("Your password must have at least 6 characters")
            $("#txtRequireOldPassword").html("Your password must have at least 6 characters");
            $("#txtRequireOldPassword").css('color', 'red');
            $("#oldPassword").focus()
            e.preventDefault()
            return;
        }
        else {
            $("#txtRequirePassword").hide()
        }


        const newPassword = String($("#newPassword").val())
        if (newPassword.length === 0) {
            $("#txtRequireNewPassword").html("Your new password must have at least 6 characters");
            $("#txtRequireNewPassword").css('color', 'red');
            $("#newPassword").focus()
            e.preventDefault()
            return;
        } else {
            $("#txtRequireConfirmPassword").hide()
        }
        const confirmPassword = String($("#confirmPassword").val())
        if (confirmPassword.localeCompare(newPassword) !== 0) {
            alert("The confirm password does not match with your password")
            $("#txtRequireConfirmPassword").html("Not match");
            $("#txtRequireConfirmPassword").css('color', 'red');
            $("#confirmPassword").focus()
            e.preventDefault()
            return;
        } else {
            $("#txtRequireConfirmPassword").hide()
        }
    })

    //check email validation
    function validateEmail(email) {
        const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(String(email).toLowerCase());
    }
</script>

{{/section}}


<main>
    <!-- breadcrumb Start-->
    <div class="page-notification">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Change password</a></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb End -->
    <!-- login Area Start -->
    <div class="login-form-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-7 col-lg-8">
                    <form id="frmChanngePassword" action="" method="POST">
                        <div class="login-form">
                            <!-- Login Heading -->
                            <div class="login-heading">
                                <span>Change password</span>
                                <p>Create a new password</p>
                            </div>

                            {{#if errorMessage}}
                            <div class="alert alert-danger alert-dismissible fade show">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                {{errorMessage}}
                            </div>
                            {{/if}}

                            <!-- Single Input Fields -->
                            <div class="input-box">
                                <div class="single-input-fields">
                                    <div class="d-flex justify-content-between">
                                        <label>Old password</label>
                                        <span class="txtRequire" id="txtRequireOldPassword"></span>
                                    </div>
                                    <input type="password" id="oldPassword" name="oldPassword" placeholder="*******">
                                </div>

                                <hr>

                                <div class="single-input-fields">
                                    <div class="d-flex justify-content-between">
                                        <label>New password</label>
                                        <span class="txtRequire" id="txtRequireNewPassword"></span>
                                    </div>
                                    <input type="password" id="newPassword" name="newPassword" placeholder="*******">
                                </div>

                                <div class="single-input-fields">
                                    <div class="d-flex justify-content-between">
                                        <label>Confirm new password</label>
                                        <span class="txtRequire" id="txtRequireConfirmPassword"></span>
                                    </div>
                                    <input type="password" id="confirmPassword" name="" placeholder="*******">
                                </div>
                                <!-- form Footer -->
                                <div class="login-footer mt-50">
                                    <p> <a href=""></a></p>
                                    <button type="submit" class="submit-btn3">Save</button>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- login Area End -->
</main>