{{#section 'css'}}

<style>
    input {
        text-transform: none !important
    }
</style>

{{/section}}

{{#section 'js'}}
<script>
    $(document).ready(function () {


        $('#select').change(function () {
            const strOption = String($('#select').val());

            if (strOption.localeCompare('userName')) {
                $('#label').html('Gmail');
                $('#input').attr("placeholder", "Enter your gmail");
                $('#input').attr("name", "gmail");
                $('#temp').attr('name', 'userName')
                $('#txtRequireInput').hide()

            }
            else {
                $('#label').html('Username');
                $('#input').attr("placeholder", "Enter your username");
                $('#input').attr("name", "userName");
                $('#temp').attr('name', 'gmail')
                $('#txtRequireInput').hide()
            }

            
            return;
        })
    })
</script>


<script>
    $('#frmForgetPassword').on('submit', function (e) {
        //alert('abc')
        const strOption = String($('#select').val());
        //alert(strOption)

        if (strOption.localeCompare("gmail")) {
            //alert('1');
            const userName = $('#input').val();
            if (userName.length === 0) {
                $("#txtRequireInput").html("Please fill out your username");
                $("#txtRequireInput").css('color', 'red');
                $("#txtRequireInput").show();
                $("#input").focus()
                e.preventDefault()
                return;
            }
            else {
                $("#txtRequireInput").hide();
                return;
            }
        }
        else {
            //alert('2');
            const gmail = String($('#input').val());

            if (gmail.length === 0) {
                $("#txtRequireInput").html("Please enter your gmail");
                $("#txtRequireInput").css('color', 'red');
                $("#txtRequireInput").show();
                $("#input").focus()
                e.preventDefault()
                return;
            }

            if (!validateEmail(gmail)) {
                $("#txtRequireInput").html("Your gmail is not valid");
                $("#txtRequireInput").css('color', 'red');
                $("#input").focus()
                e.preventDefault()
                return;
            }
            else {
                $("#txtRequireInput").hide();
            }

        }
    })

    //check email validation
    function validateEmail(email) {
        const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(String(email).toLowerCase());
    }
</script>
{{/section}}

<main>
    <!-- breadcrumb Start-->
    <div class="page-notification">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Forgot Password</a></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb End -->
    <!--  Area Start -->
    <div class="login-form-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-7 col-lg-8">
                    <form id="frmForgetPassword" action="" method="POST">
                        <div class="login-form">
                            <!--  Heading -->
                            <div class="login-heading">
                                <span>Forgot Password</span>
                                <p>Enter your user or your email to reset password</p>
                            </div>


                            <!-- Single Input Fields -->
                            <div class="input-box mb-0">
                                <div class="single-input-fields mb-10">
                                    <div class="single-input-fields">
                                        <div class="row">
                                            <div class="col">
                                                <label for="">Select one</label>
                                                <select id="select" name="select" class="mb-15">
                                                    <option value="gmail" selected="selected">Gmail</option>
                                                    <option value="userName">Username</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-input-fields">
                                    <div class="d-flex justify-content-between">
                                        <label id="label" for="">Gmail</label>
                                        <small class="txtRequire" id="txtRequireInput"></small>
                                    </div>
                                    <input type="text" id="input" name="gmail" placeholder="Enter your username"
                                        autofocus>
                                </div>
                                <input id="temp" name="userName" style="display: none;"></input>

                                <!-- form Footer -->
                                <div class="d-flex justify-content-center">
                                    <button type="submit" class="submit-btn3 ">Go to</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Area End -->
</main>