{{#section 'css'}}

<style>
    input {
        text-transform: none !important
    }

    select {
        color: black !important
    }
</style>

{{/section}}

{{#section 'js'}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    $('#frmLogin').on('submit', function (e) {

        const username = $('#userName').val();
        if (username.length === 0) {
            //alert("Your user name is not valid")
            $("#txtRequireUserName").html("Please fill out your username");
            $("#txtRequireUserName").css('color', 'red');
            $("#userName").focus()

            e.preventDefault()
            return;
        }
        else {
            $("#txtRequireUserName").hide()
        }

        const password = String($("#password").val())
        if (password.length < 6) {
            //alert("Your password must have at least 6 characters")
            $("#txtRequirePassword").html("Your password must have at least 6 characters");
            $("#txtRequirePassword").css('color', 'red');
            $("#password").focus()
            e.preventDefault()
            return;
        }
        else {
            $("#txtRequirePassword").hide()
        }



    })

    //check email validation
    function validateEmail(email) {
        const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(String(email).toLowerCase());
    }
</script>
{{/section}}


<main>
    <!-- breadcrumb Start-->
    <div class="page-notification">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Login</a></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb End -->
    <!-- login Area Start -->
    <div class="login-form-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-7 col-lg-8">
                    <form id="frmLogin" action="" method="POST">
                        <div class="login-form">
                            <!-- Login Heading -->
                            <div class="login-heading">
                                <span>Login</span>
                                <p>Enter Login details to get access</p>
                            </div>

                            {{#if this.error}}
                            <div class="alert alert-danger alert-dismissible fade show">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                {{this.error}}
                            </div>
                            {{/if}}

                            {{#if this.successNotification}}
                            <div class="alert alert-success alert-dismissible fade show">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                {{this.successNotification}}
                            </div>
                            {{/if}}

                            <!-- Single Input Fields -->
                            <div class="input-box">
                                <div class="single-input-fields">
                                    <div class="d-flex justify-content-between">
                                        <label>Username</label>
                                        <span class="txtRequire" id="txtRequireUserName"></span>
                                    </div>
                                    <input type="text" id="userName" name="userName" placeholder="Enter your username">
                                </div>
                                <div class="single-input-fields">
                                    <div class="d-flex justify-content-between">
                                        <label>Password</label>
                                        <span class="txtRequire" id="txtRequirePassword"></span>
                                    </div>
                                    <input type="password" id="password" name="password" placeholder="Enter Password">
                                </div>
                                <div class="single-input-fields login-check">
                                    <input type="checkbox" id="fruit1" name="keep-log">
                                    <label for="fruit1">Keep me logged in</label>
                                    <a href="/user/forget" class="f-right">Forgot Password?</a>
                                </div>
                            </div>
                            <!-- form Footer -->
                            <div class="login-footer">
                                <p>Don’t have an account? <a href="/user/register">Sign Up</a> here</p>
                                <button type="submit" class="submit-btn3">Login</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- login Area End -->
</main>